<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>楼层信息</title>
    <style>
        .table-body {
            width: 100%;
            height: 250px;
            color: #f2f2f2;
            font-size: 18px;
            background-color: #11408f;
        }
        .tdstyletitle{
            padding-left:15px;
            width: 100px;
        }
        .tdstylevalue{
            padding-left:15px;
            padding-right:15px;
            width: 100px;
        }
        .li_style {
            list-style-type:none;
            padding-top:5px;
        }
        .a_style {
            text-decoration:none;
            color: #ffffff;
        }
        .li_title_style {
            list-style-type:none;
            padding-left:20px;
            font-size:19px;
        }
    </style>
    <script src="../js/jquery-1.10.2.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        //获取url中的参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }

        var jsonss =
              {
                  "Code": 200,
                  "Message": null,
                  "Data": [
                    {
                        "ID": "1691872",
                        "RoomerName": "刘志清",
                        "IDNumber": "",
                        "CallPhone": "13133810090",
                        "CardNumber": "36010419780112042X",
                        "RoomID": "7441931",
                        "RoomNumber": "1401",
                        "RoomAddress": null,
                        "RoomUserType": "业主",
                        "CheckInTime": "2018-08-02T00:00:00",
                        "CreateTime": "2018-08-16T19:38:38",
                        "UpdateTime": null,
                        "CreateUserID": "Sys",
                        "Remark": null,
                        "IsHaveVehicle": true,
                        "VehicleNo": "赣A2V633",
                        "ImgUrl": "http://doordustorage.oss-cn-shenzhen.aliyuncs.com/doordu_admin/other/20180802/790e8fa546d41a0b9431533170751117.jpg",
                        "BuildingID": "467196",
                        "BuildingName": "03栋_01单元",
                        "AreaName": "红谷凯旋智慧社区",
                        "Nation": "汉",
                        "LiveType": null,
                        "IsForeign": false,
                        "HouseHoldType": "家庭户口",
                        "IdentyPhoto": "http://doordustorage.oss-cn-shenzhen.aliyuncs.com/doordu_admin/other/20180802/c0cd4e1b8044528947a1533170635482.png",
                        "HousePlace": "江西省南昌市青云谱区洪都六区125栋1单元102号",
                        "Age": 40,
                        "isYZ": true,
                        "YZID": null
                    },
                    {
                        "ID": "1695893",
                        "RoomerName": "周媛",
                        "IDNumber": "",
                        "CallPhone": "18607081123",
                        "CardNumber": "360403198111231223",
                        "RoomID": "7441931",
                        "RoomNumber": "1402",
                        "RoomAddress": null,
                        "RoomUserType": "业主",
                        "CheckInTime": "2018-08-02T00:00:00",
                        "CreateTime": "2018-08-16T19:38:38",
                        "UpdateTime": null,
                        "CreateUserID": "Sys",
                        "Remark": null,
                        "IsHaveVehicle": true,
                        "VehicleNo": null,
                        "ImgUrl": "http://doordustorage.oss-cn-shenzhen.aliyuncs.com/doordu_admin/other/20180802/a9b259e063141a2b8971533201302169.jpg",
                        "BuildingID": "467196",
                        "BuildingName": "03栋_01单元",
                        "AreaName": "红谷凯旋智慧社区",
                        "Nation": "汉",
                        "LiveType": null,
                        "IsForeign": false,
                        "HouseHoldType": "家庭户口",
                        "IdentyPhoto": "http://doordustorage.oss-cn-shenzhen.aliyuncs.com/doordu_admin/other/20180802/800dd31c5d34cddb7501533201286890.png",
                        "HousePlace": "江西省南昌市西湖区丁公路南柴北区16栋1单元501户",
                        "Age": 36,
                        "isYZ": true,
                        "YZID": null
                    },
                    {
                        "ID": "1797449",
                        "RoomerName": "刘志军",
                        "IDNumber": "",
                        "CallPhone": "13879164592",
                        "CardNumber": "360104197202260412",
                        "RoomID": "7441931",
                        "RoomNumber": "1403",
                        "RoomAddress": null,
                        "RoomUserType": "家人",
                        "CheckInTime": "2018-09-02T00:00:00",
                        "CreateTime": "2018-09-04T18:07:16",
                        "UpdateTime": null,
                        "CreateUserID": "Sys",
                        "Remark": null,
                        "IsHaveVehicle": null,
                        "VehicleNo": null,
                        "ImgUrl": "http://doordustorage.oss-cn-shenzhen.aliyuncs.com/",
                        "BuildingID": "467196",
                        "BuildingName": "03栋_01单元",
                        "AreaName": "红谷凯旋智慧社区",
                        "Nation": "汉",
                        "LiveType": null,
                        "IsForeign": false,
                        "HouseHoldType": "家庭户口",
                        "IdentyPhoto": "",
                        "HousePlace": "江西省南昌市青云谱区",
                        "Age": 46,
                        "isYZ": false,
                        "YZID": null
                    },
                    {
                        "ID": "1800187",
                        "RoomerName": "肖辉",
                        "IDNumber": "",
                        "CallPhone": "13607062860",
                        "CardNumber": "360104197311120451",
                        "RoomID": "7441931",
                        "RoomNumber": "1404",
                        "RoomAddress": null,
                        "RoomUserType": "业主",
                        "CheckInTime": "2018-09-03T00:00:00",
                        "CreateTime": "2018-09-04T18:07:16",
                        "UpdateTime": null,
                        "CreateUserID": "Sys",
                        "Remark": null,
                        "IsHaveVehicle": null,
                        "VehicleNo": null,
                        "ImgUrl": "http://doordustorage.oss-cn-shenzhen.aliyuncs.com/doordu_admin/other/20180903/8a87965e6d24b08be8f1535941591700.jpg",
                        "BuildingID": "467196",
                        "BuildingName": "03栋_01单元",
                        "AreaName": "红谷凯旋智慧社区",
                        "Nation": "汉",
                        "LiveType": null,
                        "IsForeign": false,
                        "HouseHoldType": "家庭户口",
                        "IdentyPhoto": "http://doordustorage.oss-cn-shenzhen.aliyuncs.com/doordu_admin/other/20180903/84ba91de5864485be0a1535941581901.png",
                        "HousePlace": "江西省南昌市青云谱区洪都六区125栋1单元102号",
                        "Age": 45,
                        "isYZ": true,
                        "YZID": null
                    }
                  ]
              }

        var framname = '';
        var layername = '';

        $(document).ready(function () {
           var floor = getUrlParam('floor');
           var unitID = getUrlParam('unitID');
           if (unitID != null)
           {
               var buildingID = getUrlParam('buildingID');
               var buildingName = null;
               if (buildingID == 1001)
               {
                   buildingName = "1 ";
               }
               else if (buildingID == 1002)
               {
                   buildingName = "2 ";
               }
               else if (buildingID == 1003) {
                   buildingName = "3 ";
               }
               else if (buildingID == 1004) {
                   buildingName = "4 ";
               }
               else if (buildingID == 1005) {
                   buildingName = "5 ";
               }
               else if (buildingID == 1006) {
                   buildingName = "6 ";
               }
               else if (buildingID == 1007) {
                   buildingName = "7 ";
               }
               else if (buildingID == 1008) {
                   buildingName = "8 ";
               }
               else if (buildingID == 1009) {
                   buildingName = "9 ";
               }
               else if (buildingID == 10091) {
                   buildingName = "10 ";
               }
               framname = getUrlParam('framname');
               layername = getUrlParam('layername');
               $.ajax({
                   type: "GET",
                   dataType: 'JSON',
                   url: "http://171.34.44.55:9097/api/v1/unit/GetUnitFloorRoomList?&unitId=" + unitID + "&floor=" + floor,
                   success: function (data) {                       
                       var newFloorResult = eval(data);                       
                       if (newFloorResult != null) {
                           var m = "</div><ul><li class='li_title_style'>" + buildingName + "栋</li>";
                           $.each(newFloorResult.Data, function (i, n) {
                               m += "<li class='li_style'><a class='a_style' href='javascript:;' onclick='RoomInfo(" + n.ID + ")'>" + n.RoomNumber + " 房</a></li>";
                           });
                           m += "</ul>";
                           $("#datadiv").append(m);
                       }
                   },
                   error: function (error) {
                       alert(error.status + "" + error.statusText);
                   }
               });
           }           
        });

        //跳转到显示
        function RoomInfo(ID) {
            var iframelayer = parent.frames[framname];
            if (iframelayer != null) {
                parent.krpano.set("layer[" + layername + "].visible", true);
                if (parent.BuildingIfram != null)
                {
                    parent.krpano.set("layer[" + parent.BuildingIfram + "].visible", false);
                }
                iframelayer.location = 'RoomInfo.html?roomID=' + ID;
            }            
        }
    </script>
    <div style="width: 150px;">
        <div class="table-body" id="datadiv">
            
        </div>
    </div>
</body>
</html>